* {
    margin: 0;
    padding: 0;
}


#header {
    display: flex;
    position: absolute;
    width: 1240px;
    height: 80px;
    left: 100px;
    right: 100px;
    top: 0px;
    justify-content: space-between;
    background: #000000;
    border-radius: 0px 0px 30px 30px;

}

#header h2 a {
    position: absolute;
    width: 124px;
    height: 36px;
    left: 42px;
    top: 21px;
    /* text-decoration: none; */
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: rgba(255, 145, 77, 1);


}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 446px;
    height: 23px;
    left: 747px;
    top: 20px;
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

li a {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav-list .decouvrez-nous {
    width: 129px;
    height: 23px;
}

.nav-list .comment-ca {
    height: 23px;
    width: 163px;
    left: 155px;
    top: 0px;
}

.nav-list .centre-daide a {
    height: 23px;
    width: 102px;
    left: 344px;
    top: 0px;
    color: rgba(255, 145, 77, 1);
}

#beneficiares-section,
#affilies-section,
#employe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 148px;

    position: absolute;
    width: 1440px;
    left: 0px;
}

#employe-section {
    height: 1178px;
    top: 142px;

}

#employe-section .employe-first-part {
    height: 400px;
    width: 1440px;
}

.affilies-first-part .affilies-image,
.beneficiares-first-part .beneficiares-image,
.employe-first-part .Law-firm-image {
    position: absolute;
    width: 500px;
    height: 427px;
}

.employe-first-part .Law-firm-image.pana {
    left: 23px;
    top: -50px;

    background: url(./Images/Law-firm-pana.png);
}

.employe-first-part .Law-firm-image.bro {
    left: 940px;
    top: 0px;

    background: url(./Images/Law-firm-bro.png);
}

.affilies-first-part p,
.beneficiares-first-part p,
.employe-first-part p {
    position: absolute;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.employe-first-part p {
    width: 190px;
    height: 49px;
    left: 625px;
    top: 176px;

}

#affilies-section .affilies-second-part,
#beneficiares-section .beneficiares-second-part,
#employe-section .employe-second-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 102px;

}

#employe-section .employe-second-part {
    width: 1210px;
    height: 630px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
}

.employe-second-part .question.q1 {
    width: 1210px;
    height: 152px;
}

.employe-second-part .question.q2 {
    width: 1156px;
    height: 152px;

}

.employe-second-part .question.q3 {
    width: 905px;
    height: 122px;

}

.question .qheader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 192px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}

.question p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #000000;
}

.qheader .qnumber {
    font-size: 32px;
    height: 44px;
}

.qheader .qtext {
    font-size: 24px;
    height: 44px;
}

.question.q1 .qheader .qnumber {
    width: 44px;
}

.question.q3 .qheader .qnumber,
.question.q4 .qheader .qnumber,
.question.q5 .qheader .qnumber,
.question.q2 .qheader .qnumber {
    width: 50px;
}

.employe-second-part .question.q1 .qheader {
    width: 842px;
}

.employe-second-part .question.q1 .qheader .qtext {
    width: 606px;
}

.employe-second-part .question.q1 p {
    width: 1210px;
    height: 60px;
}

.employe-second-part .question.q2 .qheader {
    width: 690px;
}

.employe-second-part .question.q2 .qheader .qtext {
    width: 448px;
}

.employe-second-part .question.q2 p {
    width: 1156px;
    height: 60px;
}

.employe-second-part .question.q3 .qheader {
    width: 905px;
}


.employe-second-part .question.q3 .qheader .qtext {
    width: 663px;
}

.employe-second-part .question.q3 p {
    width: 896px;
    height: 30px;
}

#beneficiares-section {

    height: 1686px;
    top: 1470px;
}

#beneficiares-section .beneficiares-first-part {
    height: 400px;
    width: 1440px;
}

.beneficiares-first-part .beneficiares-image.eating-donut {
    left: -12px;
    top: -73px;

    background: url(./Images/Eating_donuts-bro_1.png);
}

.beneficiares-first-part .beneficiares-image.mobile-user {
    left: 940px;
    top: -52px;

    background: url(./Images/Mobile_user-bro_1.png);
}

.beneficiares-first-part p {
    width: 196px;
    height: 49px;
    left: 622px;
    top: 176px;
}

#beneficiares-section .beneficiares-second-part {
    width: 1179px;
    height: 1138px;
}

.beneficiares-second-part .question.q1 {
    width: 537px;
    height: 182px;
}

.beneficiares-second-part .question.q1 .qheader {
    width: 537px;
}

.beneficiares-second-part .question.q1 .qheader .qtext {
    width: 301px;
}

.beneficiares-second-part .question.q1 p {
    width: 449px;
    height: 90px;
}

.beneficiares-second-part .question.q2 {
    width: 1156px;
    height: 152px;
}

.beneficiares-second-part .question.q2 .qheader {
    width: 992px;
}


.beneficiares-second-part .question.q2 .qheader .qtext {
    width: 750px;
}

.beneficiares-second-part .question.q2 p {
    width: 1156px;
    height: 60px;

}

.beneficiares-second-part .question.q3 {
    width: 1179px;
    height: 152px;
}

.beneficiares-second-part .question.q3 .qheader {
    width: 832px;
}

.beneficiares-second-part .question.q3 .qheader .qtext {
    width: 590px;
}

.beneficiares-second-part .question.q3 p {
    width: 1179px;
    height: 60px;

}

.beneficiares-second-part .question.q4 {
    width: 914px;
    height: 122px;
}

.beneficiares-second-part .question.q4 .qheader {
    width: 888px;
}

.beneficiares-second-part .question.q4 .qheader .qtext {
    width: 646px;
}

.beneficiares-second-part .question.q4 p {
    width: 914px;
    height: 30px;
}

.beneficiares-second-part .question.q5 {
    width: 876px;
    height: 122px;
}




.beneficiares-second-part .question.q5 .qheader {
    width: 876px;
}

.beneficiares-second-part .question.q5 .qheader .qtext {
    width: 634px;
}

.beneficiares-second-part .question.q5 p {
    width: 671px;
    height: 30px;
}

#affilies-section {
    top: 3240px;
    height: 1015px;
}

#affilies-section .affilies-first-part {
    position: absolute;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 150px;

}

.affilies-first-part .affilies-image.payement {
    left: 954px;
    top: 7px;
    background: url(./Images/Payment_Information-bro_1.png);
}

.affilies-first-part .affilies-image.shop {
    left: 0px;
    top: -72px;

    background: url(./Images/Coffee_shop-rafiki_1.png);
}

.affilies-first-part p {
    position: absolute;
    width: 115px;
    height: 49px;
    left: 663px;
    top: 176px;
}

#affilies-section .affilies-second-part {
    position: absolute;
    width: 1224px;
    height: 406px;
    left: 115px;
    top: 559px;
}

.affilies-second-part .question.q1 {
    width: 1189px;
    height: 152px;
}

.affilies-second-part .question.q1 .qheader {
    width: 1189px;
}

.affilies-second-part .question.q1 .qheader .qtext {
    width: 953px;
}

.affilies-second-part .question.q1 p {
    width: 1185px;
    height: 60px;
}

.affilies-second-part .question.q2 {
    width: 1224px;
    height: 152px;

}

.affilies-second-part .question.q2 .qheader {
    width: 698px;
}

.affilies-second-part .question.q2 .qheader .qtext {
    width: 456px;
}

.affilies-second-part .question.q2 p {
    width: 1224px;
    height: 60px;
}


/* Starting of footer design */

footer {

    position: absolute;
    width: 1240px;
    height: 80px;
    top: 4400px;
    left: 100px;
    right: 100px;

    background: #000000;
    border-radius: 30px 30px 0px 0px;


}

footer h2 {
    position: absolute;
    width: 151px;
    height: 29px;
    left: 42px;
    top: 26px;

    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #FF5757;
}

footer p {
    position: absolute;
    width: 297px;
    height: 46px;
    left: 476px;
    top: 34px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;
}

footer p span {
    color: #FF5757;
}

footer .icons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 106px;
    height: 24px;
    position: absolute;
    top: 34px;
    left: 1113px;
}

footer .icons-div a {
    text-decoration: none;
    height: 24.000009536743164px;
    width: 24px;
    left: -0.000244140625px;
    color: #fff;
    background: linear-gradient(90.42deg, #FF1616 -15.79%, #5CE1E6 89.24%);
}

footer .icons-div a i {

    top: 3.5px !important;
    height: 24px;
    font-size: 18px;


    width: 24px;
    position: absolute;

}

.fa-linkedin {
    left: 5px;
}

.fa-twitter {
    left: 44px;
}

.fa-facebook {
    left: 85px;
}